<div class="sub-header col-sm-12 page-title-div">
  <div class="col-sm-12">
    <h3>{{ title }}</h3>
  </div>
  <div class="col-sm-12">
    <div class="row statistics">
      <div class="row">
        <div class="col-sm-12">
          <h5 class="col-sm-12">Estadísticas</h5>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="col-sm-2 col-xs-12">
          <div class="card card-block">
            <div class="row">
              <div class="col-sm-6">
                <h4 class="green-number">{{ salary }}</h4>
              </div>
              <div class="col-sm-6">
                <div class="small text-overflow text-muted">Ingresos</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-2 col-xs-12">
          <div class="card card-block">
            <div class="row">
              <div class="col-sm-5">
                <h4 class="green-number">{{ salary - amount }}</h4>
              </div>
              <div class="col-sm-7">
                <div class="small text-overflow text-muted">Estado de cuenta</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-2 col-xs-12">
          <div class="card card-block">
            <div class="row">
              <div class="col-sm-6">
                <h4 class="green-number">{{ salary - estimation }}</h4>
              </div>
              <div class="col-sm-6">
                <div class="small text-overflow text-muted">Ahorros</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-2 col-xs-12">
          <div class="card card-block">
            <div class="row">
              <div class="col-sm-6">
                <h4 class="red-number">{{ amount }}</h4>
              </div>
              <div class="col-sm-6">
                <div class="small text-overflow text-muted">Gastos</div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-2 col-xs-12">
          <div class="card card-block">
            <div class="row">
              <div class="col-sm-5">
                <h4 class="red-number">{{ pendingAmount }}</h4>
              </div>
              <div class="col-sm-7">
                <div class="small text-overflow text-muted">Gasto pendiente</div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-2 col-xs-12">
          <div class="card card-block">
            <div class="row">
              <div class="col-sm-6">
                <h4 class="red-number">{{ estimation }}</h4>
              </div>
              <div class="col-sm-6">
                <div class="small text-overflow text-muted">Gasto total</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="cards-container page-title-div">

  <div class="col-lg-6 col-md-12 col-sm-12">
    <div class="cards-column">
      <div class="col-sm-12">
        <div class="row">
          <h5 class="col-xs-8 col-sm-10">Pendientes</h5>
          <h5 class="col-xs-4 col-sm-2 btn-new" data-target="#newCard" data-toggle="modal" (click)="openBillInModal('')">+ Nuevo</h5>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 card-padding" *ngFor="let item of (bills | notPayed)">

          <div class="card card-block">
            <div class="row">
              <div class="col-xs-8">
                <h2 class="m-b-0 v-align-middle text-overflow">
                  <span>{{ item.amount }}</span>
                </h2>
              </div>
              <div class="col-xs-4">
                  <!-- <img class="img-pay" src="assets/cash.svg"/> -->
              </div>
              <div class="col-xs-12">
                  <div class="small text-overflow text-muted">
                      {{ item.name }}
                    </div>
              </div>
            </div>
            <div class="row">
              <button type="button" (click)="pay(item.index)" class="btn btn-default btn-round btn-pay">PAGAR</button>

              <button type="button" data-target="#newCard" data-toggle="modal" (click)="openBillInModal(item.index)" class="btn btn-default btn-round btn-edit">Editar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-sm-12">
    <div class="cards-column">
      <div class="col-sm-12 page-title-div">
        <div class="row">
          <h5 class="col-sm-10">Realizados</h5>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 card-padding" *ngFor="let item of (bills | payed)">

          <div class="card card-block">
            <div class="row">
              <h2 class="m-b-0 v-align-middle text-overflow">
                <span>{{ item.amount }}</span>
              </h2>
              <div class="small text-overflow text-muted">
                {{ item.name }}
              </div>
            </div>
            <div class="row">
              <button type="button" (click)="unPayed(item.index)" class="btn btn-default btn-round not-payed">NO PAGO</button>
              <button type="button" data-target="#newCard" data-toggle="modal" (click)="openBillInModal(item.index)" class="btn btn-default btn-round btn-edit">Editar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="newCard" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="exampleModalLabel">Nuevo gasto</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="name" class="form-control-label">Nombre:</label>
              <input type="text" class="form-control" id="name" [(ngModel)]="bill_name" name="name">
            </div>
            <div class="form-group">
              <label for="amount" class="form-control-label">Monto:</label>
              <input type="number" class="form-control" id="amount" [(ngModel)]="bill_amount" name="amount">
            </div>
            <div class="form-group">
              <label for="date" class="form-control-label">Vencimiento:</label>
              <input type="date" class="form-control" id="date" [(ngModel)]="bill_dueDate" name="duedate">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" *ngIf="bill_id > 0" (click)="deleteBill()">Eliminar</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary" (click)="saveBill()">Guardar</button>
          <button type="button" class="btn btn-primary" (click)="saveAndPay()">Guardar y Pagar</button>

        </div>
      </div>
    </div>
  </div>
