.main-info-container .list-group-item
{

  background-color: #f5f5f5;
  color: #716d6d;
  border: 0;
}

.main-info-container h3
{
  font-family: monospace;

}

.card {
    margin-bottom: 1.5rem;
    border: 0;
    box-shadow: 0 0 0 1px rgba(0,0,0,.05), 0 1px 1px rgba(0,0,0,.05);
    border-radius: 2px;
}
.card-block {
    padding: 1.25rem;
}
.card {
    position: relative;
    display: block;
    margin-bottom: .75rem;
    background-color: #fff;
    border-radius: .25rem;
    border: 1px solid rgba(0,0,0,.125);
}


.text-overflow {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.text-muted {
    color: #818a91!important;
}
.align-middle td, .v-align-middle, td.align-middle {
    vertical-align: middle!important;
}

element.style {
    line-height: 24px;
}
.p-x-xs {
    padding-right: .5rem!important;
}
.p-l-xs, .p-x-xs {
    padding-left: .5rem!important;
}
.bg-success {
    color: #fff!important;
    background-color: #7fc35c!important;
}
.tag {
    font-weight: 600;
    border-radius: 2px;
}
.p-y-0 {
    padding-top: 0!important;
    padding-bottom: 0!important;
}
.pull-xs-right {
    float: right!important;
}
.green-number{
  color: green;
}
.red-number{
  color: red;
}

.cards-container{
  padding: 30px;
}

.cards-container .list-group{
  padding-left: 0;
  margin-bottom: 0px;
  margin-top: -10px;

}


.card{
  border:0;
}


.btn-round{
    border: 1px solid;
}

.btn-pay{
    color: #60a762;
    background-color: #fff;
}

.btn-edit{
  color: #a2a2a2;
  background-color: #fff;
}

.not-payed{
    color: #d27777;
    border: 1px solid;
}

.btn-new{
    cursor: pointer;
}
.btn-new:hover{
    color: grey;
}

@media (max-width: @screen-md-min) {
  .h3{
    padding: 10px;
  }
}

.cards-column{
  background-color: #E2E4E6;
  border-radius: 3px;
  padding-right: 5px;
  padding-left: 5px;
  padding-bottom: 15px;
  display: grid;
margin-bottom: 5px;
}
.page-title-div h5{
  font-weight: bold;
}

.card-padding{
  padding: 0px 5px 0px 0px;
}

.card.card-block h2 {
    height: 32px;
    margin: 5px 0px 7px 0px;
}

.card.card-block div {
    margin: 0px 0 5px 0px;
}

.sub-header.col-sm-12.page-title-div {
    color: white;
    /* background-color: rebeccapurple; */
    margin: -6px 0px 8px 15px;
}
